<div class="row">
    <div class="col-xs-12">
    <mat-card style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px; background-color: #e8eaf6;;">
        <mat-card-title>Use of the application</mat-card-title>
        <p>In Insight knowledge you can see the data from multiple smartsensor of students from Avans Breda.<br>
             In the list/mainpage all sensors are available. When clicked an insights page with usefull information will load with all the records from the smartsensor.<br>
            On the overview page all the energy stats, which are manditory for every smartmeter, are compared into one chart.</p>
    </mat-card>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
    <mat-card style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px; background-color: #e8eaf6;;">
        <mat-card-title>Developer 1</mat-card-title>
        <mat-card-subtitle>Patrick de Jong, 24 years old</mat-card-subtitle>
        <p>Worked on the back end of this application and managed to connect the hardware required to read his smartmeter and temperature from home. <br>
        He used an xBee mesh netwerk to collect all the data and send it through mqtt into the database</p>
    </mat-card>
    </div>

    <div class="col-xs-6">
        <mat-card style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px; background-color: #e8eaf6;;">
            <mat-card-title>Developer 2</mat-card-title>
            <mat-card-subtitle>Tim de Booij, 23 years old</mat-card-subtitle>
            <p>Worked on the front/back end of the application. Build the restfull API to communicate between the database and website.<br>
                 Developed the back- and frontend of the website </p>
        </mat-card>
        </div>
</div>

