<mat-card style="margin-bottom: 5px; background-color: #c5cae9;">
    <div class="row">
        <div class="col-xs-6">
            <mat-card-title>{{idata.timestamp}}</mat-card-title>
        </div>
        <div class="col-xs-6">
        <p style="float: right;">{{idata.signature}}</p>
    </div>
    </div>
    <div class="row" style="background-color: white; margin-left: 5px; margin-right: 5px;">
        <div class="col-xs-6" style="margin-top: 8px;">
            <p>Inside temperature: {{idata.insideTemp}} degrees Celsius</p>
        </div>
        <div class="col-xs-6">
            <p style="float: right;" style="margin-top: 8px;">outside temperature: {{idata.outsideTemp}} degrees Celsius</p>
        </div>
    </div>

</mat-card>
